.form-control {
    border-radius: 0% !important;
    background-color: #f0f0ef;
}
.form-control:focus {
    box-shadow: none !important;
}
label{
    font-weight: 500;
    text-align: left !important;
}
.avatar {
	width: 40px;
	height: 40px;
  border-radius: 40px; 
  
}