<div class="loginPage my-5"> 
    <div class="row w-100">
        <div class="col-md-4"></div>
        <div class="col-md-4 p-5">
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="mb-0">Reset Password</h4>
                </div>
                <div class="card-body px-5 pb-5 py-3">
                    <form>
                        <div class="form-group">
                            <label for="name">Email</label>
                            <input type="email" v-model="email" class="form-control" name="name"  placeholder="Enter email" id="email">
                          </div>
                        <div class="form-group">
                          <label for="pwd">Password</label>
                          <input type="password" class="form-control" v-model="password" name="password"  placeholder="Enter password" id="pwd">
                        </div>
                        <div class="form-group">
                            <label for="pwd"> Confirmation Password</label>
                            <input type="confirmPassword" class="form-control" v-model="confirmPassword" name="confirmPassword"  placeholder="Enter password" id="pwd">
                          </div>
                        <button type="button" class="btn btnClass w-100" @click="resetPassword()" >Reset</button>
                      </form>
                </div>
            </div>
            
        </div>
        <div class="col-md-4"></div>
    </div>
    
</div>